.item {
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)) 0 0/cover, url("src") center/cover no-repeat; }

html, body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif; }

a, p, li, ul, body, input, div {
  font-family: 'Didact Gothic', sans-serif; }

a.line {
  background-image: linear-gradient(180deg, transparent 65%, #2590f3 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-size .4s ease;
  -moz-transition: background-size .4s ease;
  -ms-transition: background-size .4s ease;
  -o-transition: background-size .4s ease;
  transition: background-size .4s ease; }

a.line:focus, a.line:hover {
  background-size: 100% 100%;
  cursor: pointer;
  color: #000; }

.line a {
  background-image: linear-gradient(180deg, transparent 65%, #2590f3 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-size .4s ease;
  -moz-transition: background-size .4s ease;
  -ms-transition: background-size .4s ease;
  -o-transition: background-size .4s ease;
  transition: background-size .4s ease; }

.line a:focus, .line a:hover {
  background-size: 100% 100%;
  cursor: pointer;
  color: #000; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

.btn-white, .btn-white:active, .btn-white:focus, .btn-white:visited {
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn-white:hover, .btn-white:active:hover, .btn-white:focus:hover, .btn-white:visited:hover {
    background: #fff;
    color: #000;
    text-decoration: none; }

.btn-white-alt, .btn-white-alt:active, .btn-white-alt:focus, .btn-white-alt:visited {
  padding: 10px 25px !important;
  border-radius: 0px;
  border: 1px solid #fff !important;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn-white-alt:hover, .btn-white-alt:active:hover, .btn-white-alt:focus:hover, .btn-white-alt:visited:hover {
    background: #fff !important;
    color: #000 !important;
    text-decoration: none;
    border-color: #000; }

.btn-ns-blue, .btn-ns-blue:active, .btn-ns-blue:focus, .btn-ns-blue:visited {
  padding: 10px 25px !important;
  border-radius: 4px;
  border: 1px solid #2590f3 !important;
  background: transparent;
  color: #2590f3 !important;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn-ns-blue:hover, .btn-ns-blue:active:hover, .btn-ns-blue:focus:hover, .btn-ns-blue:visited:hover {
    background: #2590f3 !important;
    color: #fff !important;
    text-decoration: none;
    border-color: #000; }

#primary-nav {
  background: #fff;
  margin-bottom: 0px; }
  @media (min-width: 767px) {
    #primary-nav {
      height: 90px; } }
  @media (min-width: 992px) {
    #primary-nav {
      padding: 0px 90px; } }
  #primary-nav .navbar-brand {
    padding: 0px; }
    @media (min-width: 767px) {
      #primary-nav .navbar-brand {
        padding: 10px 0px; } }
    #primary-nav .navbar-brand img {
      max-height: 45px;
      margin-top: 3px;
      margin-left: 5px; }
      @media (min-width: 767px) {
        #primary-nav .navbar-brand img {
          max-height: 70px;
          margin-top: 00px;
          margin-left: 0px; } }
  @media (min-width: 767px) {
    #primary-nav .navbar-right {
      margin-top: 20px; } }
  #primary-nav .navbar-right li a {
    padding: 0px;
    margin: 15px; }
    @media (min-width: 767px) {
      #primary-nav .navbar-right li a {
        font-size: 13px;
        text-transform: uppercase;
        color: #000; } }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: transparent; }

.full-sec-banner {
  min-height: 300px;
  height: 300px;
  background-position: top center; }
  @media (min-width: 992px) {
    .full-sec-banner {
      min-height: 450px;
      height: 450px; } }
  @media (min-width: 1200px) {
    .full-sec-banner {
      min-height: 450px;
      height: 450px; } }
  @media (min-width: 1800px) {
    .full-sec-banner {
      min-height: 450px;
      height: 450px; } }
  .full-sec-banner h1 {
    padding: 70px 0px 0px;
    color: #fff;
    font-size: 30px; }
    @media (min-width: 992px) {
      .full-sec-banner h1 {
        font-size: 40px; } }
    @media (min-width: 1200px) {
      .full-sec-banner h1 {
        font-size: 60px;
        line-height: 60px;
        padding: 150px 0px 0px; } }
  @media (min-width: 1200px) {
    .full-sec-banner#home-top-banner {
      min-height: 670px;
      height: 670px; } }
  @media (min-width: 1800px) {
    .full-sec-banner#home-top-banner {
      min-height: 750px;
      height: 750px; } }
  .full-sec-banner#home-top-banner .btn-wrap {
    margin-top: 35px; }
  @media (min-width: 1200px) {
    .full-sec-banner#home-top-banner h1 {
      font-size: 50px;
      line-height: 60px;
      padding: 220px 0px 0px; } }
  .full-sec-banner#books-banner {
    background: #000; }
  .full-sec-banner#solo-book h1 span.by {
    font-size: 23px;
    display: block; }
  .full-sec-banner#blog-banner {
    background-size: cover;
    background-repeat: no-repeat; }
  .full-sec-banner#single-post-banner {
    min-height: 0px;
    height: 80px;
    background-position: top center; }
    @media (min-width: 450px) {
      .full-sec-banner#single-post-banner {
        min-height: 145px;
        height: 145px; } }
    @media (min-width: 767px) {
      .full-sec-banner#single-post-banner {
        min-height: 230px;
        height: 230px; } }
    @media (min-width: 1200px) {
      .full-sec-banner#single-post-banner {
        min-height: 250px;
        height: 250px; } }
    @media (min-width: 1400px) {
      .full-sec-banner#single-post-banner {
        min-height: 330px;
        height: 330px; } }
    @media (min-width: 1800px) {
      .full-sec-banner#single-post-banner {
        min-height: 330px;
        height: 330px; } }

#feature-split .col-md-6 {
  color: #fff;
  height: 300px; }
  @media (min-width: 992px) {
    #feature-split .col-md-6 {
      min-height: 500px;
      height: auto; } }
  #feature-split .col-md-6.feat-podcast h1, #feature-split .col-md-6.feat-podcast h2 {
    margin-right: 20px; }
  #feature-split .col-md-6.feat-podcast .btn-wrap {
    margin-right: 20px; }
  #feature-split .col-md-6.feat-podcast h1 {
    margin: 0 20px 0px 0px;
    padding-top: 40px; }
    @media (min-width: 992px) {
      #feature-split .col-md-6.feat-podcast h1 {
        padding-top: 40px; } }
  #feature-split .col-md-6.feat-vlog h1, #feature-split .col-md-6.feat-vlog h2 {
    margin-left: 20px; }
  #feature-split .col-md-6 h1 {
    padding-top: 40px;
    margin: 0px 0px 20px 0px; }
    @media (min-width: 992px) {
      #feature-split .col-md-6 h1 {
        font-size: 55px; } }
    @media (min-width: 1800px) {
      #feature-split .col-md-6 h1 {
        font-size: 70px; } }
  #feature-split .col-md-6 h2 {
    font-size: 35px; }
    @media (min-width: 1200px) {
      #feature-split .col-md-6 h2 {
        margin-top: 95px; } }
    @media (min-width: 1800px) {
      #feature-split .col-md-6 h2 {
        margin-top: 118px; } }
  #feature-split .col-md-6 .btn-wrap {
    margin-top: 40px;
    margin-left: 20px; }
    #feature-split .col-md-6 .btn-wrap .btn-white {
      font-size: 17px; }

#newsletter {
  background: #2590f3;
  min-height: 200px;
  padding: 30px 0px 40px 0px; }
  @media (min-width: 992px) {
    #newsletter {
      height: 150px; } }
  @media (min-width: 992px) {
    #newsletter .mailing-list-wrap {
      margin-top: 30px; } }
  #newsletter input {
    font-size: 14px;
    background: transparent;
    border: 1px solid #fff !important;
    color: #fff;
    margin: 0 auto !important; }
    @media (min-width: 767px) {
      #newsletter input {
        font-size: 18px;
        height: 46px; } }
    @media (min-width: 992px) {
      #newsletter input {
        margin: 0px !important; } }
  #newsletter .text-wrap h3 {
    text-align: center;
    color: white; }

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica,Arial,sans-serif; }

#mc_embed_signup_scroll {
  text-align: center; }
  @media (min-width: 992px) {
    #mc_embed_signup_scroll {
      margin-top: 10px; } }

@media (min-width: 992px) {
  .mc-field-group, .submit-btn {
    display: inline-block;
    float: none;
    position: absolute; } }

.mc-field-group {
  width: 100% !important; }
  @media (min-width: 992px) {
    .mc-field-group {
      width: 40% !important;
      margin-right: 5px;
      padding-bottom: 0px !important; } }

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  color: #fff !important;
  margin-top: 5px !important;
  background: transparent !important;
  margin-bottom: 0px !important; }

#mce-success-response {
  color: #2590f3 !important; }
  @media (min-width: 992px) {
    #mce-success-response {
      display: block;
      position: absolute;
      background: #fff;
      padding: 10px !important;
      border-radius: 4px !important;
      margin-top: 80px !important;
      margin-left: -52px !important; } }

#books-wrap {
  margin: 30px 0px; }

.book .panel-body img {
  margin: 0 auto 10px auto;
  border: 1px solid #000; }

.content-wrap {
  margin-top: 40px;
  margin-bottom: 40px; }
  .content-wrap p, .content-wrap li, .content-wrap a {
    font-size: 17px;
    padding: 0 15px;
    margin-bottom: 15px; }
    @media (min-width: 767px) {
      .content-wrap p, .content-wrap li, .content-wrap a {
        padding: 0px; } }
    @media (min-width: 992px) {
      .content-wrap p, .content-wrap li, .content-wrap a {
        font-size: 18px;
        line-height: 45px;
        margin-bottom: 20px; } }
    @media (min-width: 1800px) {
      .content-wrap p, .content-wrap li, .content-wrap a {
        font-size: 25px; } }
  .content-wrap h2 {
    font-size: 30px;
    margin-top: 40px; }
  .content-wrap img {
    max-width: 800px;
    margin: 40px auto;
    height: auto;
    border: 2px solid #1a8df8;
    width: 100%; }

#blog-feed .article-row, #books-wrap .article-row, #podcast-wrap .article-row {
  padding: 40px 0px;
  max-width: 1150px;
  margin: 0 auto; }
#blog-feed .post-img, #books-wrap .post-img, #podcast-wrap .post-img {
  min-height: 300px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin: 0px 20px; }
  @media (min-width: 767px) {
    #blog-feed .post-img, #books-wrap .post-img, #podcast-wrap .post-img {
      margin: 0px; } }
  @media (min-width: 1800px) {
    #blog-feed .post-img, #books-wrap .post-img, #podcast-wrap .post-img {
      min-height: 350px; } }
#blog-feed .post-excerpt, #books-wrap .post-excerpt, #podcast-wrap .post-excerpt {
  font-size: 17px;
  padding: 0px 20px; }
  @media (min-width: 992px) {
    #blog-feed .post-excerpt, #books-wrap .post-excerpt, #podcast-wrap .post-excerpt {
      padding: 0px 50px; } }
  #blog-feed .post-excerpt .btn-wrap, #books-wrap .post-excerpt .btn-wrap, #podcast-wrap .post-excerpt .btn-wrap {
    margin-top: 30px; }
    @media (min-width: 992px) {
      #blog-feed .post-excerpt .btn-wrap, #books-wrap .post-excerpt .btn-wrap, #podcast-wrap .post-excerpt .btn-wrap {
        margin-top: 40px; } }

.progressiveMedia, .aspectRatioPlaceholder-fill {
  text-align: center; }

#vision-banner {
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 992px) {
    #vision-banner {
      background-position-y: -20px; } }

.vlog-row {
  margin: 40px 0px; }
  @media (min-width: 992px) {
    .vlog-row {
      margin: 70px 0px; } }

.file-wrap {
  margin: 40px 0px; }
  .file-wrap p {
    margin: 20px 0px;
    text-align: center;
    font-size: 17px; }

.sc_fancy_player_container {
  border: 2px solid #2590f3; }

.wp-pagenavi {
  clear: both;
  margin: 40px 0px;
  text-align: center; }

footer {
  height: 120px;
  background: #fff;
  border-top: 3px solid #2590f3;
  padding: 20px 0px 40px 0px; }
  footer ul {
    text-align: center;
    list-style: none;
    padding-left: 0px; }
  footer .first-foot img {
    max-height: 80px;
    margin: 0 auto; }
  footer .third-foot ul {
    margin-top: 10px; }
  footer .third-foot a {
    font-size: 17px; }
  footer .copyright-wrap {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #000; }
    footer .copyright-wrap span {
      display: block;
      margin-top: 5px; }
  footer .top-footer {
    padding-bottom: 20px; }
    footer .top-footer ul {
      margin: 20px 0px; }

/*# sourceMappingURL=styles.css.map */
